body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-containner {
    display: flex;
    margin-bottom: 180px;
}

.half-widh {
    width: 50%;
    padding-left: 2%;
}

.half-widh img {
    width: 75%;
}

.Link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.paragraph {
    width: 80%;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}

#Full-Stack-Web-Developer {
    border-left: 8px solid blue;
}

#Baby-Web-Developer {
    border-left: 8px solid tomato;
}

footer p {
    text-align: center;
}